body {
  letter-spacing: 0em;
  background: #fff url(/~fathi/images/header_bg.png) repeat-x top;
  color: #000000;
  margin: 1em;
  padding: 0;
  font-size: 1.1em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color: #990000;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#header {
  height: 75px;
}
#header h1 {
  float: left;
  margin:0px;
}

#header h1 a {  
  margin-top: 0px;
  display: block;
}

#menu {
  float: right;
  color: #990000;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
  margin-top: 0px;
}

#menu ul li {
  display: block;
  float: left;
  margin-left: 0px;
}

#menu ul li a {
  display: block;
  background: repeat-x top left;
  height: 75px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  padding: 0.5em 0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  margin-top:1em;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 1.5em;
}

#content p {
  line-height: 160%;
}

span.date {
  background: #6e9b20 url(/images/gray_gradient.gif) repeat-x top;
  display: block;
  padding: 0.4em 0.6em 0.5em;
  font-weight: bold;
  width: 120px;
  color: white;
  -moz-border-radius-topleft: px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px -1px 5px rgba(0,0,0,0.4);    
  text-shadow: black 1px 1px 4px;
}

div.post {
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right:2em;
  color: #333;
  text-align:justify;
}

.post h1 {
  margin-top: 0px;
}

.post h1 a, #content h2, #footer {
  text-decoration: none;
  display: block;
  color: black;
  padding: 0.3em 0.5em;
  margin: 0 0 0.2em 0;
  font-weight: bold;
  background: #f8f8f8;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  color: #000;
  z-index: 10000;
}

div.post h3 {
  color: black;
  margin: 1em 0 0.7em 0;
  font-weight: normal;
  font-size: 1.4em;
}

pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas",Monaco,"Courier New",Courier,monospace;
  font-size: 14px;
  letter-spacing: 0;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #262;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #ddd;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  background-position: top;
  margin: 1em 0 0 0;
  width: 100%;
  clear:left;
  color: #444;
  font-size: 0.9em;
  padding:0px;
  text-align: center;
}

#footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.home_box {
}

#content .home_box h2 {
  background: #bababa url(/images/gray_gradient.gif) repeat-x bottom;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #ababab;
  margin-bottom: 0em;
  color: white;
  font-weight: normal;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;  
  -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 0 5px rgba(0,0,0,0.5);
  box-shadow: 1px 0 5px rgba(0,0,0,0.5);
}

#content .home_box h2 a {
  font-weight: normal;
}

#content .home_box .post h1 {
  margin-top: 0;
}

.home_box h2 a {
  color: white;
  margin: 0.5 0.2em;
}

#home_left {
  padding:1em;
  margin-right:300px;
}

#home_right {
  float:right;
  width:260px;
  margin:0;
  padding:1em;
}

.clearfix { clear: both;}

code {
  font-size: 1em;
  font-family: "Consolas","Courier New",Courier,monospace;
}

.home_box .post h1 a {
  font-size: 0.7em;
}

.repo {
  text-decoration: none;
  display: block;
  color: black;
  padding: 0.5em 0.7em;
  margin: 0 0 0.8em 0;
  font-weight: bold;
  background: #f8f8f8 url(/images/header_gradient.gif) repeat-x bottom;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-weight: normal;
  color: #000;
  z-index: 10000;
  font-size: 0.8em;
  line-height: 150%;
}

.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: normal;
  color: #426a25;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 1.2em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }
