            <li><a href='/~fathi/index.html' id='home_link' title='Home'>Home</a></li>
            <li><a href='/~fathi/index.html#Contact' id='contact_link' title='Contact'>Contact</a></li>
            <li><a href='/~fathi/index.html#Research' id='research_link' title='Research'>Research</a></li>
            <li><a href='/~fathi/index.html#Teaching' id='Teaching_link' title='Teaching'>Teaching</a></li>
            <li><a href='/~fathi/index.html#Courses' id='Courses_link' title='Courses'>Courses</a></li>
            <li><a href='/~fathi/index.html#AboutMe' id='about_me_link' title='About Me'>About Me</a></li>
            <li><a href='http://www.cse.osu.edu' id='cse_link' title='Computer Science and Engineering Department'>CSE</a></li>
            <li><a href='http://www.osu.edu' title='The Ohio State University' id='osu_link'>OSU</a></li>

