<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    {% include css.html %}
    {% include scripts.html %}
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>{{ page.title }}</h1>
      </div>
      <div id='content'>
        <div id='menu'>
          <ul>
            <li><a href='index.html' id='home_link' title='Home'>Course Home Page</a></li>
            {% include navigation.html %}
          </ul>
        </div>
        {{ content }}
      </div>
      {% include footer.html%}
    </div>
  </body>
</html>
